{# src/_partials/macros.njk #}

{% macro experienceEntry(title, location, dates, content, is_open=false) %}
<details {% if is_open %}open{% endif %}>
    <summary>
        <span class="summary-title">{{ title }}</span>
        <span class="summary-meta">{{ location }}<br>{{ dates }}</span>
        <span class="summary-icon"></span>
    </summary>
    <div class="details-content">{{ content | safe }}</div>
</details>
{% endmacro %}



{% macro featuredCaseStudy(id, title, teaser, full_content, is_open=false) %}
<div class="featured-project-card" id="{{ id }}">
    <div class="project-header">
        <h4>{{ title }}</h4>
    </div>
    <div class="details-content">
        <p>{{ teaser | safe }}</p>
        <details {% if is_open %}open{% endif %}>
            <summary class="link-summary">Read the full case study &darr;</summary>
            <div class="nested-details-content">{{ full_content | safe }}</div>
        </details>
    </div>
</div>
{% endmacro %}

{% macro caseStudyCard(id, title, teaser, full_content, is_open=false) %}
<details class="project-card" id="{{ id }}" {% if is_open %}open{% endif %}>
    <summary>
        <span class="summary-title">{{ title }}</span>
        <span class="summary-icon"></span>
    </summary>
    <div class="details-content">
        <p>{{ teaser | safe }}</p>
        <details>
            <summary class="link-summary">Read the full retrospective &darr;</summary>
            <div class="nested-details-content">{{ full_content | safe }}</div>
        </details>
    </div>
</details>
{% endmacro %}



{% macro featuredSystemDesign(title, teaser, pdf_link, full_content) %}
<div class="featured-project-card">
    <div class="project-header">
        <h4>{{ title }}</h4>
    </div>
    <div class="details-content">
        <p>{{ teaser | safe }}</p>
        <a href="{{ pdf_link }}" class="pdf-download-link" target="_blank" rel="noopener noreferrer">Download Design Doc (PDF) &rarr;</a>
        <details class="details-with-top-margin">
            <summary class="link-summary">Read the full document online &darr;</summary>
            <div class="nested-details-content">{{ full_content | safe }}</div>
        </details>
    </div>
</div>
{% endmacro %}



{% macro featuredProjectCard(title, content, link, link_text='View on GitHub') %}
<div class="featured-project-card">
    <div class="project-header">
        <h4>{{ title }}</h4>
        <a href="{{ link }}" class="project-link" target="_blank" rel="noopener noreferrer">{{ link_text }} &rarr;</a>
    </div>
    <div class="details-content">{{ content | safe }}</div>
</div>
{% endmacro %}

{% macro simpleProjectCard(title, content, link, link_text='View on GitHub') %}
<div class="project-card">
    <h4>{{ title }}</h4>
    <p>{{ content | safe }}</p>
    <a href="{{ link }}" class="project-link" target="_blank" rel="noopener noreferrer">{{ link_text }} &rarr;</a>
</div>
{% endmacro %}
